<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Caixa de entrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="header">
      <ion-icon name="menu-outline" size="large"></ion-icon>
      <input type="text" placeholder="Pesquie por um Email" />
      <img src="https://source.unsplash.com/random?person" alt="" />
    </div>

    <h1>Principal</h1>

    <ul>
      <li *ngFor="let email of emails">
        <img src="{{ email.avatar }}?{{email.id}}" alt="img" />

        <div
          class="description-wrapper"
          [ngClass]="{'not-open': email.alreadyOpen}"
        >
          <h3>{{ email.title }}</h3>
          <p>{{ email.description }}</p>
        </div>

        <div class="actions-wrapper">
          <p>{{email.date}}</p>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </li>
    </ul>

    <div class="write-email">
      <ion-icon name="create-outline"></ion-icon>
      <p>Escrever</p>
    </div>
  </div>
</ion-content>
